* {
  box-sizing: border-box;
}

/* Title Page */
.section{
  min-height: 700px;
  max-width: 500px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 20px auto;
  font-size: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.section--title{
  margin: 0;
}
.section--text{
  margin-bottom: 25px;
  font-size: 700;
  font-family: Arial, Helvetica, sans-serif;
}
.section button {
 border-radius: 15px;
 width: 140px;
 height: 40px;
 background-color: #4D5B9E;
 color: white;
 border: none;
}

/* Trivia Page */
.main{
  height: auto;
  width: 100%;
  /* min-width: 400px; */
  padding-bottom: 20px; 
  border-bottom: solid 2px rgb(227, 227, 227);
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  /* overflow: auto; */
  /* border: solid 2px red; */
}

/* container for question h1 and choices container */
.divContainer{
  display: flex;
  flex-flow: column;
  /* border: solid 2px red; */
  max-width: 800px;
}


.divContainer h1{
  font-size: 1.1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  /* color: blue; */
}

.divContainer2{
  display: flex;
  /* border: solid 2px red; */
  /* margin-right: 20px; */
}

button {
  background-color: white
}

.divContainer2 button{
  border-radius: 10px;
  margin-right: 10px;
  overflow: auto;
  /* width: 100%; may keep it like this*/
  overflow: auto;
  font-size: 1rem;
  color: #293264;
  border: 1.5px solid #4D5B9E;
  padding: 5px;
}

/* check answers button and question + choices container */
.mainContentDivider{
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 30px;
  /* border: solid 2px red; */
}

.mainContentDivider > button{
margin-top: 10px;
width: 140px;
height: 40px;
border-radius: 10px;
background-color: #4D5B9E;
color: white;
border: none;
}

.mainContentDivider > button:hover{
  /* background-color: red; */
  height: 45px;
  width: 145px;
}


.scoreContainer{
  display: flex;
  align-items: center;
}

.scoreContainer h3{
  font-family: Arial, Helvetica, sans-serif;
}

.scoreContainer button{
width: 140px;
height: 40px;
border-radius: 7px;
margin-left: 20px;
background-color: #4D5B9E;
border: none;
color: white;
}

.selected{
background-color: #D6DBF5;

}

#correct-selected{
  background-color: #94D7A2;
  border: none;
}

#wrong-selected{
  background-color: #F8BCBC;
  opacity: .5;
  border: none
}
#correct-not-selected{
  background-color: #94D7A2;
  border: none;
}

#not-selected{
  background-color: #F5F7FB;
  border: 1px solid grey;
  opacity: .5;
}

*:disabled{
  color:#293264;
  border: 1px solid grey;
}

button{
  cursor: pointer;
}


@media (max-width: 850px){
  .mainContentDivider{
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 480px){
 

  .scoreContainer {
    flex-flow: column;
    align-items: center;
  }
  
}

@media (max-width: 450px){
  .divContainer2{
    flex-flow: column;
    gap: 10px;
  }
  .divContainer2 button{
  padding: 7px;
}

.divContainer h1{
  font-size: 1rem;
}

  .mainContentDivider{
    margin-top: 30px;
  }


}
